
body{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.head{
    background-image: url(assets/Hero-bg.png);
}
@media screen and (max-width: 1120px) {
    h1{
        font-size: 35px;
    }
    .hero-img{
        max-width: 400px;
    }
}
@media screen and (max-width: 840px) {
    h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 366px) {
    .hero-button{
        display: flex;
        flex-direction: column;
        margin: 0px 40px;
    }
}
p{
    color: #8A8A8A;
    padding-top: 12px;
}
